.hcCards {
  margin-bottom: 10px;
  text-align: center;
}
.cards {
  margin-bottom: 20px;
  height: 600px;
  background: #ccc;
}
.cards .cardsTop .avatar {
  width: 60px;
  height: 60px;
  display: block;
  border-radius: 50%;
}
